.canvas {
  margin: 0 auto;
  width: 80%;
  height: 10px;
  border: 1px solid black;
  margin-bottom: 5px;
}
.canvas--fill {
  margin: 0 auto;
  width: 80%;
  height: 10px;
  border: 1px solid black;
  background-color: black;
  margin-bottom: 5px;
}
