<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Test Server</title>
  </head>
  <body>
    Hello <% if(test) {%>
      World!
      <%} else {%>
        but you're not!
        <%}%>
  </body>
</html>
